body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-size: cover;
    background-position: center;
    height: 100vh;
    overflow: hidden;
}

#form-button {
    border-radius: 20px;
    background-color: white;
    color: black;
    padding: 10px 20px;
    border: 2px solid black;
    cursor: pointer;
}

#form-button:hover {
    background-color: lightgrey;
}

#background-carousel {
    position: absolute;
    top: 0;
    left: 0;
    width: 300%;
    height: 100%;
    z-index: -1;
}

#background-carousel img {
    width: 33.33%;
    height: 100%;
    float: left;
    object-fit: cover;
}

.container {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

h1 {
    font-size: 3rem;
    margin-bottom: 20px;
}

p {
    font-size: 1.2rem;
}

.arrow {
    height: 70px;
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10;
    cursor: pointer;
}

#left-arrow {
    left: 10px;
}

#right-arrow {
    right: 10px;
}

.slide-animation {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: opacity 1s ease-in-out;
}

.fadeOut {
    opacity: 0;
}

.fadeIn {
    opacity: 1;
}

.hidden {
    display: none;
}

.button {
    border-radius: 20px;
    background-color: white;
    color: black;
    padding: 10px 20px;
    border: 2px solid black;
    cursor: pointer;
    text-decoration: none;
    margin-left: 10px;
    font-size: inherit;
}

.button:hover {
    background-color: lightgrey;
}

#form-button, .button {
    font-size: 16px; /* Menetapkan ukuran font yang sama untuk kedua tombol */
}